<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <table width="800" cellspacing="0" cellpadding="0" border="0" align="center"
           style="font:14px Arial,Helvetica,sans-serif">
        <tbody>
            <tr>
                <td width="100%" style="height: 92px; border-bottom: 3px solid #737373">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="font-size: 20px;font-weight: bold;padding-top: 6px;">
                                    <a style="color: #000;text-decoration: none" href="#">Par.ost.ok</a>
                                </td>
                                <td style="color: #000;font-size: 16px;font-weight: bold;padding-top: 6px;text-align: right">
                                    <div style="padding-left: 18px;float: right;">
                                        <a style="color: #000;text-decoration: none" href="tel:+380989192030">
                                            +38 098 919 20 30
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 16px;padding: 15px 0;">
                    <div style="margin-bottom: 9px;font-size: 20px;font-weight: bold;color: #231f20">
                        Відновлення пароля
                    </div>
                    Хтось попросив скинути пароль для електронної пошти {{ email }}. Перейдіть за посиланням нижче:
                    {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                </td>
            </tr>
            <tr>
                <td style="padding: 23px 0 21px;border-top: 1px solid #a5a5a5;">
                    <table width="100%" style="font: 12px Arial,Helvetica,sans-serif;color: #8d8d8d">
                        <tbody>
                            <tr>
                                <td style="font-size: 14px">
                                    <div>Par.ost.ok</div>
                                    <div>+38 098 919 20 30</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
