{% extends 'base.html' %}

{% block title %}{{ category }}{% endblock %}

{% block content %}

<div class="container mt-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main' %}">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
      </ol>
    </nav>
</div>

<div class="container mb-3 flex-grow-1">
    <div class="row">
        <div class="col-lg-2">
        {% for category_nav in categories_dict %}
            <div class="flex-column nav-pills text-center">
            {% if category_nav == category %}
                <a class="nav-link active" href="{{ category_nav.get_absolute_url }}">
                    {{ category_nav }}
                </a>
            {% else %}
                <a class="nav-link"
                   href="{{ category_nav.get_absolute_url }}">{{ category_nav }}
                </a>
            {% endif %}
            </div>
        {% endfor %}
        </div>
        {% include 'products.html' %}
    </div>
</div>

{% endblock %}
